node_modules
**/node_modules
.git
.gitignore
.env
.env.*
.eslintcache
.github
docs
reports
apps/web
wasm/target
deployment
scripts
*.md
README.md
Dockerfile
.dockerignore
backend/db
backend/app/test
backend/app/Dockerfile
backend/app/.dockerignore
