-- =============================================================================
-- Sakina foundation migration (PostgreSQL)
-- File: backend/db/migrations/001_sakina_foundation.sql
-- =============================================================================
-- Creates the 20 foundational tables for sakina-islamic-app.
--
-- Integrity rule (enforced via DEFERRABLE CONSTRAINT TRIGGER below):
--   No row in ibadat_answers with blocked = FALSE may exist without at
--   least one linked row in ibadat_answer_sources pointing to a record
--   in ibadat_sources.
--
-- All textual content is Arabic-first (text columns are UTF-8 / collation
-- default; the DB should be created with `LC_COLLATE='C'` or `und-x-icu`
-- for predictable Arabic sort order â€” handled at DB-init time, not here).
-- =============================================================================

BEGIN;

-- Optional extensions (kept minimal). Uncomment when pgvector is required
-- for the knowledge-base in a later sprint:
-- CREATE EXTENSION IF NOT EXISTS vector;
CREATE EXTENSION IF NOT EXISTS pgcrypto;  -- for gen_random_uuid()

-- =============================================================================
-- 1. users
-- =============================================================================
CREATE TABLE IF NOT EXISTS users (
  id            UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  locale        TEXT NOT NULL DEFAULT 'ar',
  city          TEXT,
  calc_method   TEXT NOT NULL DEFAULT 'umm_al_qura',
  madhhab_asr   TEXT NOT NULL DEFAULT 'shafii',
  theme         TEXT NOT NULL DEFAULT 'auto',
  created_at    TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at    TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- =============================================================================
-- 2. prayer_times
-- =============================================================================
CREATE TABLE IF NOT EXISTS prayer_times (
  id            BIGSERIAL PRIMARY KEY,
  user_id       UUID REFERENCES users(id) ON DELETE CASCADE,
  city          TEXT NOT NULL,
  date_g        DATE NOT NULL,
  fajr          TIME NOT NULL,
  sunrise       TIME NOT NULL,
  dhuhr         TIME NOT NULL,
  asr           TIME NOT NULL,
  maghrib       TIME NOT NULL,
  isha          TIME NOT NULL,
  calc_method   TEXT NOT NULL,
  created_at    TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  UNIQUE (user_id, city, date_g, calc_method)
);
CREATE INDEX IF NOT EXISTS idx_prayer_times_city_date ON prayer_times (city, date_g);

-- =============================================================================
-- 3. quran_surahs
-- =============================================================================
CREATE TABLE IF NOT EXISTS quran_surahs (
  id                INTEGER PRIMARY KEY CHECK (id BETWEEN 1 AND 114),
  name_ar           TEXT NOT NULL,
  name_en           TEXT NOT NULL,
  revelation_place  TEXT NOT NULL CHECK (revelation_place IN ('makki', 'madani')),
  ayah_count        INTEGER NOT NULL CHECK (ayah_count > 0)
);

-- =============================================================================
-- 4. quran_ayahs
-- =============================================================================
CREATE TABLE IF NOT EXISTS quran_ayahs (
  id            BIGSERIAL PRIMARY KEY,
  surah_id      INTEGER NOT NULL REFERENCES quran_surahs(id) ON DELETE RESTRICT,
  ayah_number   INTEGER NOT NULL CHECK (ayah_number > 0),
  text_uthmani  TEXT NOT NULL,
  juz           INTEGER NOT NULL CHECK (juz BETWEEN 1 AND 30),
  page          INTEGER NOT NULL CHECK (page BETWEEN 1 AND 604),
  UNIQUE (surah_id, ayah_number)
);
CREATE INDEX IF NOT EXISTS idx_quran_ayahs_juz_page ON quran_ayahs (juz, page);

-- =============================================================================
-- 5. quran_tafsir
-- =============================================================================
CREATE TABLE IF NOT EXISTS quran_tafsir (
  id            BIGSERIAL PRIMARY KEY,
  surah_id      INTEGER NOT NULL REFERENCES quran_surahs(id) ON DELETE RESTRICT,
  ayah_number   INTEGER NOT NULL CHECK (ayah_number > 0),
  tafsir_id     TEXT NOT NULL,           -- 'muyassar' | 'saadi' | ...
  text_ar       TEXT NOT NULL,
  UNIQUE (tafsir_id, surah_id, ayah_number)
);

-- =============================================================================
-- 6. quran_translations
-- =============================================================================
CREATE TABLE IF NOT EXISTS quran_translations (
  id            BIGSERIAL PRIMARY KEY,
  surah_id      INTEGER NOT NULL REFERENCES quran_surahs(id) ON DELETE RESTRICT,
  ayah_number   INTEGER NOT NULL CHECK (ayah_number > 0),
  language      TEXT NOT NULL,           -- 'en','fr','ur',...
  translator    TEXT NOT NULL,
  text          TEXT NOT NULL,
  UNIQUE (language, translator, surah_id, ayah_number)
);

-- =============================================================================
-- 7. adhkar_categories
-- =============================================================================
CREATE TABLE IF NOT EXISTS adhkar_categories (
  id        SERIAL PRIMARY KEY,
  slug      TEXT NOT NULL UNIQUE,        -- 'morning','evening','sleep',...
  name_ar   TEXT NOT NULL
);

-- =============================================================================
-- 8. adhkar_items
-- =============================================================================
CREATE TABLE IF NOT EXISTS adhkar_items (
  id            BIGSERIAL PRIMARY KEY,
  category_id   INTEGER NOT NULL REFERENCES adhkar_categories(id) ON DELETE CASCADE,
  text_ar       TEXT NOT NULL,
  repeat_count  INTEGER NOT NULL DEFAULT 1 CHECK (repeat_count > 0),
  source_ref    TEXT NOT NULL                 -- e.g. 'Sahih Bukhari 6306'
);
CREATE INDEX IF NOT EXISTS idx_adhkar_items_category ON adhkar_items (category_id);

-- =============================================================================
-- 9. hijri_events
-- =============================================================================
CREATE TABLE IF NOT EXISTS hijri_events (
  id            SERIAL PRIMARY KEY,
  hijri_month   INTEGER NOT NULL CHECK (hijri_month BETWEEN 1 AND 12),
  hijri_day     INTEGER NOT NULL CHECK (hijri_day BETWEEN 1 AND 30),
  name_ar       TEXT NOT NULL,
  kind          TEXT NOT NULL CHECK (kind IN ('eid','sacred','other')),
  UNIQUE (hijri_month, hijri_day, name_ar)
);

-- =============================================================================
-- 10. ramadan_tracking
-- =============================================================================
CREATE TABLE IF NOT EXISTS ramadan_tracking (
  id            BIGSERIAL PRIMARY KEY,
  user_id       UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  hijri_year    INTEGER NOT NULL,
  day           INTEGER NOT NULL CHECK (day BETWEEN 1 AND 30),
  fasted        BOOLEAN NOT NULL DEFAULT FALSE,
  taraweeh      BOOLEAN NOT NULL DEFAULT FALSE,
  juz_read      INTEGER NOT NULL DEFAULT 0 CHECK (juz_read BETWEEN 0 AND 30),
  UNIQUE (user_id, hijri_year, day)
);

-- =============================================================================
-- 11. zakat_calculations
-- =============================================================================
CREATE TABLE IF NOT EXISTS zakat_calculations (
  id          BIGSERIAL PRIMARY KEY,
  user_id     UUID REFERENCES users(id) ON DELETE CASCADE,
  kind        TEXT NOT NULL CHECK (kind IN
                ('cash','gold','silver','business','stocks','crypto','currency','livestock','crops')),
  inputs      JSONB NOT NULL,
  result      NUMERIC(20,4) NOT NULL,
  currency    TEXT NOT NULL,
  created_at  TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_zakat_user_created ON zakat_calculations (user_id, created_at DESC);

-- =============================================================================
-- 12. worship_goals
-- =============================================================================
CREATE TABLE IF NOT EXISTS worship_goals (
  id          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id     UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  kind        TEXT NOT NULL CHECK (kind IN
                ('prayer','quran','adhkar','fast','charity')),
  target      INTEGER NOT NULL CHECK (target > 0),
  frequency   TEXT NOT NULL CHECK (frequency IN ('daily','weekly','monthly')),
  active      BOOLEAN NOT NULL DEFAULT TRUE,
  created_at  TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- =============================================================================
-- 13. worship_progress
-- =============================================================================
CREATE TABLE IF NOT EXISTS worship_progress (
  id          BIGSERIAL PRIMARY KEY,
  user_id     UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  goal_id     UUID NOT NULL REFERENCES worship_goals(id) ON DELETE CASCADE,
  date_g      DATE NOT NULL,
  value       INTEGER NOT NULL DEFAULT 0,
  completed   BOOLEAN NOT NULL DEFAULT FALSE,
  UNIQUE (user_id, goal_id, date_g)
);

-- =============================================================================
-- 14. ibadat_categories  (allowlist of scopes the assistant may answer)
-- =============================================================================
CREATE TABLE IF NOT EXISTS ibadat_categories (
  id        SERIAL PRIMARY KEY,
  slug      TEXT NOT NULL UNIQUE,
  name_ar   TEXT NOT NULL,
  allowed   BOOLEAN NOT NULL DEFAULT TRUE
);

-- =============================================================================
-- 15. ibadat_questions  (only HASH stored, not raw text â€” privacy)
-- =============================================================================
CREATE TABLE IF NOT EXISTS ibadat_questions (
  id              BIGSERIAL PRIMARY KEY,
  question_hash   CHAR(64) NOT NULL,               -- sha256 hex of normalized question
  category_id     INTEGER REFERENCES ibadat_categories(id) ON DELETE SET NULL,
  in_scope        BOOLEAN NOT NULL,
  created_at      TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  UNIQUE (question_hash)
);

-- =============================================================================
-- 16. ibadat_answers
-- =============================================================================
CREATE TABLE IF NOT EXISTS ibadat_answers (
  id              BIGSERIAL PRIMARY KEY,
  question_id     BIGINT REFERENCES ibadat_questions(id) ON DELETE SET NULL,
  answer_text     TEXT NOT NULL,
  category_id     INTEGER REFERENCES ibadat_categories(id) ON DELETE SET NULL,
  confidence      TEXT NOT NULL CHECK (confidence IN ('high','medium','low')),
  blocked         BOOLEAN NOT NULL DEFAULT FALSE,
  disclaimer      TEXT NOT NULL DEFAULT 'Ù‡Ø°Ù‡ Ø¥Ø¬Ø§Ø¨Ø© Ø¥Ø±Ø´Ø§Ø¯ÙŠØ© Ø¹Ø§Ù…Ø©ØŒ ÙˆÙ„ÙŠØ³Øª ÙØªÙˆÙ‰ Ø´Ø®ØµÙŠØ©.',
  created_at      TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- =============================================================================
-- 17. ibadat_sources  (catalog of trusted religious sources)
-- =============================================================================
CREATE TABLE IF NOT EXISTS ibadat_sources (
  id            SERIAL PRIMARY KEY,
  slug          TEXT NOT NULL UNIQUE,              -- 'bukhari','muslim','quran',...
  title_ar      TEXT NOT NULL,
  author_ar     TEXT,
  license_ref   TEXT NOT NULL,                     -- ref to LICENSES.md entry
  verified      BOOLEAN NOT NULL DEFAULT FALSE
);

-- =============================================================================
-- 18. ibadat_answer_sources  (junction: answer â†” sources, with reference text)
-- =============================================================================
CREATE TABLE IF NOT EXISTS ibadat_answer_sources (
  answer_id        BIGINT NOT NULL REFERENCES ibadat_answers(id) ON DELETE CASCADE,
  source_id        INTEGER NOT NULL REFERENCES ibadat_sources(id) ON DELETE RESTRICT,
  reference_text   TEXT NOT NULL,                  -- 'ÙƒØªØ§Ø¨ Ø§Ù„ØµÙ„Ø§Ø©ØŒ Ø¨Ø§Ø¨ Ø±Ù‚Ù… ...'
  PRIMARY KEY (answer_id, source_id)
);
CREATE INDEX IF NOT EXISTS idx_ias_answer ON ibadat_answer_sources (answer_id);

-- =============================================================================
-- 19. ibadat_audit_log
-- =============================================================================
CREATE TABLE IF NOT EXISTS ibadat_audit_log (
  id                BIGSERIAL PRIMARY KEY,
  question_id       BIGINT REFERENCES ibadat_questions(id) ON DELETE SET NULL,
  category_id       INTEGER REFERENCES ibadat_categories(id) ON DELETE SET NULL,
  in_scope          BOOLEAN NOT NULL,
  retrieved_count   INTEGER NOT NULL DEFAULT 0,
  confidence        TEXT,
  blocked           BOOLEAN NOT NULL DEFAULT FALSE,
  created_at        TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- =============================================================================
-- 20. dua_messages
-- =============================================================================
CREATE TABLE IF NOT EXISTS dua_messages (
  id        SERIAL PRIMARY KEY,
  slug      TEXT NOT NULL UNIQUE,                  -- 'sadaqah_banner','sadaqah_full',...
  kind      TEXT NOT NULL CHECK (kind IN ('banner','full','fatiha')),
  text_ar   TEXT NOT NULL,
  active    BOOLEAN NOT NULL DEFAULT TRUE
);

-- =============================================================================
-- INTEGRITY RULE
-- -----------------------------------------------------------------------------
-- No row in ibadat_answers with blocked = FALSE may exist without at least
-- one linked row in ibadat_answer_sources. Enforced as a DEFERRABLE
-- CONSTRAINT TRIGGER so a single transaction can insert the answer and its
-- source links before the check runs at COMMIT time.
-- =============================================================================

CREATE OR REPLACE FUNCTION trg_ibadat_answer_requires_source()
RETURNS TRIGGER AS $$
BEGIN
  -- Allow blocked answers to exist without sources (they are the rejection rows).
  IF NEW.blocked IS TRUE THEN
    RETURN NEW;
  END IF;

  IF NOT EXISTS (
    SELECT 1 FROM ibadat_answer_sources WHERE answer_id = NEW.id
  ) THEN
    RAISE EXCEPTION
      'ibadat_answers row id=% has blocked=FALSE but no linked ibadat_answer_sources row. '
      'Policy: every non-blocked answer must cite at least one trusted source.',
      NEW.id;
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS ibadat_answer_requires_source_ai ON ibadat_answers;
CREATE CONSTRAINT TRIGGER ibadat_answer_requires_source_ai
  AFTER INSERT OR UPDATE ON ibadat_answers
  DEFERRABLE INITIALLY DEFERRED
  FOR EACH ROW
  EXECUTE FUNCTION trg_ibadat_answer_requires_source();

COMMIT;
-- =============================================================================
-- Sakina migration 002 â€” verified Islamic source registry foundation
-- File: backend/db/migrations/002_verified_islamic_sources.sql
-- =============================================================================
-- Adds four tables that BACK the verified-source contract for /api/ibadat/ask.
-- This migration does NOT ingest Islamic content. It does NOT seed any
-- Quran, Hadith, fiqh, fatwa, or scholar text. All ingestion is scope of a
-- later sprint with explicit licensing review.
--
-- Integrity guarantee (enforced in code by safety/citation-validator.js and
-- by the SQL CHECK constraints below):
--   - Only chunks with verification_status = 'approved' are eligible for
--     retrieval.
--   - chunk_text must be non-empty and trimmed.
--   - Every chunk MUST have a non-empty citation_label.
--
-- This migration is idempotent (IF NOT EXISTS guards) and intentionally
-- contains zero rows of Islamic content.
-- =============================================================================

BEGIN;

CREATE EXTENSION IF NOT EXISTS pgcrypto;  -- for gen_random_uuid()

-- -----------------------------------------------------------------------------
-- sakina_verified_sources â€” catalogue of source bodies (collections, books).
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS sakina_verified_sources (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  source_type           TEXT NOT NULL CHECK (source_type IN (
    'quran',
    'hadith_collection',
    'fiqh_reference',
    'fatwa_body',
    'scholar_reference',
    'dua_collection'
  )),
  title                 TEXT NOT NULL CHECK (length(trim(title)) > 0),
  language              TEXT NOT NULL,
  authority_level       TEXT NOT NULL CHECK (authority_level IN (
    'primary',
    'recognised',
    'review_required'
  )),
  publisher             TEXT,
  url                   TEXT,
  license_status        TEXT NOT NULL CHECK (license_status IN (
    'public_domain',
    'permitted',
    'unknown',
    'restricted'
  )),
  verification_status   TEXT NOT NULL CHECK (verification_status IN (
    'approved',
    'pending',
    'rejected'
  )),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_svs_status_type ON sakina_verified_sources (verification_status, source_type);
CREATE INDEX IF NOT EXISTS idx_svs_language    ON sakina_verified_sources (language);

-- -----------------------------------------------------------------------------
-- sakina_source_documents â€” discrete documents within a source.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS sakina_source_documents (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  source_id             UUID NOT NULL REFERENCES sakina_verified_sources(id) ON DELETE CASCADE,
  title                 TEXT NOT NULL CHECK (length(trim(title)) > 0),
  document_ref          TEXT NOT NULL CHECK (length(trim(document_ref)) > 0),
  language              TEXT NOT NULL,
  content_hash          TEXT NOT NULL CHECK (length(content_hash) = 64),  -- sha256 hex
  verification_status   TEXT NOT NULL CHECK (verification_status IN (
    'approved',
    'pending',
    'rejected'
  )),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE UNIQUE INDEX IF NOT EXISTS uq_ssd_source_ref ON sakina_source_documents (source_id, document_ref);
CREATE INDEX IF NOT EXISTS idx_ssd_status   ON sakina_source_documents (verification_status);
CREATE INDEX IF NOT EXISTS idx_ssd_language ON sakina_source_documents (language);

-- -----------------------------------------------------------------------------
-- sakina_source_chunks â€” retrievable text chunks. Only `approved` rows are
-- eligible for retrieval by the application (see citation-validator).
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS sakina_source_chunks (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  document_id           UUID NOT NULL REFERENCES sakina_source_documents(id) ON DELETE CASCADE,
  chunk_ref             TEXT NOT NULL CHECK (length(trim(chunk_ref)) > 0),
  chunk_text            TEXT NOT NULL CHECK (length(trim(chunk_text)) > 0),
  language              TEXT NOT NULL,
  citation_label        TEXT NOT NULL CHECK (length(trim(citation_label)) > 0),
  citation_url          TEXT,
  verification_status   TEXT NOT NULL CHECK (verification_status IN (
    'approved',
    'pending',
    'rejected'
  )),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE UNIQUE INDEX IF NOT EXISTS uq_ssc_document_chunk ON sakina_source_chunks (document_id, chunk_ref);
CREATE INDEX IF NOT EXISTS idx_ssc_status   ON sakina_source_chunks (verification_status);
CREATE INDEX IF NOT EXISTS idx_ssc_language ON sakina_source_chunks (language);
-- Partial index optimised for the only retrieval path: approved chunks only.
CREATE INDEX IF NOT EXISTS idx_ssc_approved_lang
  ON sakina_source_chunks (language)
  WHERE verification_status = 'approved';

-- -----------------------------------------------------------------------------
-- sakina_answer_audit â€” per-question audit row. Stores ONLY a hash of the
-- normalized question, never the raw text, never user identity.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS sakina_answer_audit (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  question_hash         TEXT NOT NULL CHECK (length(question_hash) = 64),  -- sha256 hex
  scope                 TEXT NOT NULL,
  blocked               BOOLEAN NOT NULL,
  block_reason          TEXT,
  source_count          INTEGER NOT NULL DEFAULT 0 CHECK (source_count >= 0),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_saa_created  ON sakina_answer_audit (created_at DESC);
CREATE INDEX IF NOT EXISTS idx_saa_blocked  ON sakina_answer_audit (blocked);

COMMIT;
-- =============================================================================
-- Sakina migration 003 â€” Ask Sheikh Hasan + Public Q&A foundation
-- File: backend/db/migrations/003_ask_sheikh_hasan_public_qa.sql
-- =============================================================================
-- Adds eight tables that BACK the scholar-reviewed cited Q&A workflow.
--
-- Safety properties (enforced here at the SQL layer; reinforced in backend
-- by src/sheikh/*.js + tests):
--   - email is never stored as plaintext in sakina_users â€” only email_hash.
--   - passwords are never stored in this migration.
--   - questions store the raw question_text plus a question_hash; the hash
--     allows audit without joining identity to free-text payload externally.
--   - public answers require at least one citation; the citation_status
--     enum makes the "needs moderation" path explicit (scholar_advice).
--   - publication_status enum + CHECK constraints prevent invalid states.
--   - sakina_public_qa never references sakina_users; only the published
--     answer + question summary surface to public routes.
--   - audit log is append-only by convention; routes do not expose UPDATE.
--   - no INSERT statements: zero rows are seeded.
--
-- This migration is idempotent (IF NOT EXISTS guards). It contains zero
-- destructive operations: no schema-level or database-level removals, no
-- row truncations, no row deletions targeting sakina_* tables. It contains
-- no DSNs, secrets, real phone numbers, and no WhatsApp provider tokens.
-- =============================================================================

BEGIN;

CREATE EXTENSION IF NOT EXISTS pgcrypto;  -- for gen_random_uuid()

-- -----------------------------------------------------------------------------
-- sakina_users â€” minimal identity record. No password column here. No raw
-- email column here. The auth provider, when wired, is responsible for the
-- credential side; this table only stores the *application-side* user record.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS sakina_users (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  email_hash            TEXT NOT NULL UNIQUE CHECK (length(email_hash) = 64),  -- sha256 hex
  display_name          TEXT,
  role                  TEXT NOT NULL CHECK (role IN (
    'user',
    'sheikh',
    'moderator',
    'admin'
  )),
  status                TEXT NOT NULL CHECK (status IN (
    'active',
    'disabled',
    'pending'
  )),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_su_role_status ON sakina_users (role, status);

-- -----------------------------------------------------------------------------
-- sakina_sheikh_profiles â€” public-facing scholar profile fields. There is a
-- 1:1 relationship to a sakina_users row whose role = 'sheikh'.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS sakina_sheikh_profiles (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id               UUID NOT NULL REFERENCES sakina_users(id) ON DELETE CASCADE,
  public_name           TEXT NOT NULL DEFAULT 'Sheikh Hasan' CHECK (length(trim(public_name)) > 0),
  bio                   TEXT,
  languages             TEXT[] NOT NULL DEFAULT ARRAY['en', 'ar']::TEXT[],
  is_public             BOOLEAN NOT NULL DEFAULT TRUE,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE UNIQUE INDEX IF NOT EXISTS uq_ssp_user ON sakina_sheikh_profiles (user_id);

-- -----------------------------------------------------------------------------
-- sakina_user_questions â€” submitted questions. user_id is nullable so an
-- anonymous "guest" question may be submitted by an unauthenticated path
-- if and when the operator enables that; for now the route uses NULL for
-- guests and a real user_id otherwise.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS sakina_user_questions (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id               UUID REFERENCES sakina_users(id) ON DELETE SET NULL,
  question_text         TEXT NOT NULL CHECK (length(trim(question_text)) > 0),
  question_hash         TEXT NOT NULL CHECK (length(question_hash) = 64),  -- sha256 hex of trimmed text
  language              TEXT NOT NULL DEFAULT 'en' CHECK (length(language) BETWEEN 2 AND 8),
  category              TEXT CHECK (category IS NULL OR category IN (
    'salah',
    'zakat',
    'fasting',
    'family',
    'dua',
    'quran',
    'hadith',
    'general'
  )),
  private_question      BOOLEAN NOT NULL DEFAULT TRUE,
  public_allowed        BOOLEAN NOT NULL DEFAULT FALSE,
  status                TEXT NOT NULL CHECK (status IN (
    'pending_review',
    'assigned_to_sheikh',
    'draft_answered',
    'pending_moderation',
    'published_public',
    'answered_private',
    'rejected',
    'archived'
  )),
  assigned_sheikh_id    UUID REFERENCES sakina_users(id) ON DELETE SET NULL,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_suq_status            ON sakina_user_questions (status);
CREATE INDEX IF NOT EXISTS idx_suq_assigned_sheikh   ON sakina_user_questions (assigned_sheikh_id);
CREATE INDEX IF NOT EXISTS idx_suq_category_language ON sakina_user_questions (category, language);
CREATE INDEX IF NOT EXISTS idx_suq_question_hash     ON sakina_user_questions (question_hash);
CREATE INDEX IF NOT EXISTS idx_suq_created           ON sakina_user_questions (created_at DESC);

-- -----------------------------------------------------------------------------
-- sakina_sheikh_answers â€” answer drafts and published answers.
-- citation_status is computed by the backend and persisted here for cheap
-- queries and audit; the route still recomputes it on every publish attempt.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS sakina_sheikh_answers (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  question_id           UUID NOT NULL REFERENCES sakina_user_questions(id) ON DELETE CASCADE,
  sheikh_user_id        UUID NOT NULL REFERENCES sakina_users(id) ON DELETE RESTRICT,
  answer_text           TEXT NOT NULL CHECK (length(trim(answer_text)) > 0),
  citation_status       TEXT NOT NULL CHECK (citation_status IN (
    'quran_cited',
    'hadith_cited',
    'quran_and_hadith_cited',
    'scholar_advice_needs_review',
    'insufficient_citation'
  )),
  publication_status    TEXT NOT NULL CHECK (publication_status IN (
    'draft',
    'pending_moderation',
    'published_public',
    'answered_private',
    'rejected'
  )),
  public_summary        TEXT,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  published_at          TIMESTAMPTZ
);
CREATE INDEX IF NOT EXISTS idx_ssa_question         ON sakina_sheikh_answers (question_id);
CREATE INDEX IF NOT EXISTS idx_ssa_pubstatus        ON sakina_sheikh_answers (publication_status);
CREATE INDEX IF NOT EXISTS idx_ssa_sheikh           ON sakina_sheikh_answers (sheikh_user_id);
CREATE INDEX IF NOT EXISTS idx_ssa_citation_status  ON sakina_sheikh_answers (citation_status);

-- -----------------------------------------------------------------------------
-- sakina_sheikh_answer_citations â€” citations attached to a sheikh answer.
-- A non-empty citation row of type IN ('quran','hadith','fiqh') is required
-- before publication_status may transition to 'pending_moderation' or
-- 'published_public'. Only 'scholar_note' alone takes the
-- scholar_advice_needs_review path.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS sakina_sheikh_answer_citations (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  answer_id             UUID NOT NULL REFERENCES sakina_sheikh_answers(id) ON DELETE CASCADE,
  citation_type         TEXT NOT NULL CHECK (citation_type IN (
    'quran',
    'hadith',
    'fiqh',
    'scholar_note'
  )),
  citation_label        TEXT NOT NULL CHECK (length(trim(citation_label)) > 0),
  citation_text         TEXT,
  citation_url          TEXT,
  source_id             UUID,
  verification_status   TEXT NOT NULL CHECK (verification_status IN (
    'pending',
    'verified',
    'rejected'
  )),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_ssac_answer  ON sakina_sheikh_answer_citations (answer_id);
CREATE INDEX IF NOT EXISTS idx_ssac_type    ON sakina_sheikh_answer_citations (citation_type);
CREATE INDEX IF NOT EXISTS idx_ssac_status  ON sakina_sheikh_answer_citations (verification_status);

-- -----------------------------------------------------------------------------
-- sakina_public_qa â€” public-facing index of published Q&A. This is the ONLY
-- table the public read-only routes query. The slug is the URL identifier.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS sakina_public_qa (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  question_id           UUID NOT NULL REFERENCES sakina_user_questions(id) ON DELETE CASCADE,
  answer_id             UUID NOT NULL REFERENCES sakina_sheikh_answers(id) ON DELETE CASCADE,
  slug                  TEXT NOT NULL UNIQUE CHECK (length(trim(slug)) > 0),
  title                 TEXT NOT NULL CHECK (length(trim(title)) > 0),
  language              TEXT NOT NULL CHECK (length(language) BETWEEN 2 AND 8),
  category              TEXT,
  is_live               BOOLEAN NOT NULL DEFAULT FALSE,
  published_at          TIMESTAMPTZ,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_spqa_live_cat_lang
  ON sakina_public_qa (is_live, category, language);
CREATE INDEX IF NOT EXISTS idx_spqa_published   ON sakina_public_qa (published_at DESC);

-- -----------------------------------------------------------------------------
-- sakina_content_reports â€” user-submitted reports against content.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS sakina_content_reports (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  target_type           TEXT NOT NULL CHECK (target_type IN (
    'question',
    'answer',
    'public_qa'
  )),
  target_id             UUID NOT NULL,
  reason                TEXT NOT NULL CHECK (length(trim(reason)) > 0 AND length(reason) <= 1000),
  status                TEXT NOT NULL CHECK (status IN (
    'open',
    'reviewed',
    'dismissed',
    'actioned'
  )),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_scr_target  ON sakina_content_reports (target_type, target_id);
CREATE INDEX IF NOT EXISTS idx_scr_status  ON sakina_content_reports (status);
CREATE INDEX IF NOT EXISTS idx_scr_created ON sakina_content_reports (created_at DESC);

-- -----------------------------------------------------------------------------
-- sakina_sheikh_audit_log â€” append-only audit log of scholar/admin actions.
-- The actor_user_id may be NULL when the system itself records an event.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS sakina_sheikh_audit_log (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  actor_user_id         UUID REFERENCES sakina_users(id) ON DELETE SET NULL,
  action                TEXT NOT NULL CHECK (length(trim(action)) > 0),
  target_type           TEXT NOT NULL CHECK (length(trim(target_type)) > 0),
  target_id             UUID NOT NULL,
  metadata_json         JSONB,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_ssal_actor_action ON sakina_sheikh_audit_log (actor_user_id, action);
CREATE INDEX IF NOT EXISTS idx_ssal_target       ON sakina_sheikh_audit_log (target_type, target_id);
CREATE INDEX IF NOT EXISTS idx_ssal_created      ON sakina_sheikh_audit_log (created_at DESC);

COMMIT;
-- =============================================================================
-- Sakina migration 004 â€” Islamic RAG source registry + ingestion foundation
-- File: backend/db/migrations/004_islamic_rag_foundation.sql
-- =============================================================================
-- Adds 8 tables that BACK the Islamic RAG layer. Schema only â€” zero rows of
-- religious content are seeded. Real ingestion is operator-driven and gated by
-- the verification_status state machine.
--
-- Properties enforced at the SQL layer:
--   - Only verification_status = 'approved' rows are eligible for retrieval.
--   - Source rows must have a non-empty Arabic name (source_name_ar).
--   - Chunks must have non-empty text and a non-empty citation_label.
--   - Audit / ingestion-job-event tables are append-only (UPDATE not exposed
--     by the route layer; convention reinforced by the code).
--   - Zero seed rows. Zero destructive operations. Zero row removals targeting
--     islamic_* tables.
-- =============================================================================

BEGIN;

CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- -----------------------------------------------------------------------------
-- islamic_source_registry â€” canonical catalogue entry for each source body.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS islamic_source_registry (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  source_type           TEXT NOT NULL CHECK (source_type IN (
    'quran',
    'hadith',
    'dua',
    'azkar',
    'seerah',
    'fiqh_note',
    'sheikh_answer',
    'child_content'
  )),
  source_name_ar        TEXT NOT NULL CHECK (length(trim(source_name_ar)) > 0),
  source_reference      TEXT NOT NULL CHECK (length(trim(source_reference)) > 0),
  source_url            TEXT,
  language              TEXT NOT NULL DEFAULT 'ar' CHECK (length(language) BETWEEN 2 AND 8),
  verification_status   TEXT NOT NULL CHECK (verification_status IN (
    'unverified',
    'pending_review',
    'approved',
    'rejected'
  )),
  reviewer_id           UUID,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_isr_status_type ON islamic_source_registry (verification_status, source_type);
CREATE INDEX IF NOT EXISTS idx_isr_language    ON islamic_source_registry (language);
CREATE UNIQUE INDEX IF NOT EXISTS uq_isr_source_reference ON islamic_source_registry (source_reference);

-- -----------------------------------------------------------------------------
-- islamic_source_documents â€” discrete document under a registry entry.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS islamic_source_documents (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  source_id             UUID NOT NULL REFERENCES islamic_source_registry(id) ON DELETE CASCADE,
  title_ar              TEXT NOT NULL CHECK (length(trim(title_ar)) > 0),
  document_ref          TEXT NOT NULL CHECK (length(trim(document_ref)) > 0),
  language              TEXT NOT NULL DEFAULT 'ar',
  content_hash          TEXT NOT NULL CHECK (length(content_hash) = 64),
  verification_status   TEXT NOT NULL CHECK (verification_status IN (
    'unverified',
    'pending_review',
    'approved',
    'rejected'
  )),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE UNIQUE INDEX IF NOT EXISTS uq_isd_source_ref ON islamic_source_documents (source_id, document_ref);
CREATE INDEX IF NOT EXISTS idx_isd_status   ON islamic_source_documents (verification_status);

-- -----------------------------------------------------------------------------
-- islamic_source_chunks â€” retrievable text chunks. Approved-only is the only
-- retrieval path enforced by the application + the partial index below.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS islamic_source_chunks (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  document_id           UUID NOT NULL REFERENCES islamic_source_documents(id) ON DELETE CASCADE,
  chunk_ref             TEXT NOT NULL CHECK (length(trim(chunk_ref)) > 0),
  chunk_text_ar         TEXT NOT NULL CHECK (length(trim(chunk_text_ar)) > 0),
  language              TEXT NOT NULL DEFAULT 'ar',
  citation_label_ar     TEXT NOT NULL CHECK (length(trim(citation_label_ar)) > 0),
  citation_url          TEXT,
  verification_status   TEXT NOT NULL CHECK (verification_status IN (
    'unverified',
    'pending_review',
    'approved',
    'rejected'
  )),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE UNIQUE INDEX IF NOT EXISTS uq_isc_doc_chunk ON islamic_source_chunks (document_id, chunk_ref);
CREATE INDEX IF NOT EXISTS idx_isc_status_lang ON islamic_source_chunks (verification_status, language);
CREATE INDEX IF NOT EXISTS idx_isc_approved_lang
  ON islamic_source_chunks (language)
  WHERE verification_status = 'approved';

-- -----------------------------------------------------------------------------
-- islamic_source_embeddings â€” vector rows, kept separate from the chunk text
-- table so pgvector can be added later without altering core schema.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS islamic_source_embeddings (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  chunk_id              UUID NOT NULL REFERENCES islamic_source_chunks(id) ON DELETE CASCADE,
  embedding_model       TEXT NOT NULL CHECK (length(trim(embedding_model)) > 0),
  dimension             INTEGER NOT NULL CHECK (dimension > 0 AND dimension <= 4096),
  -- Vector values are stored as JSONB in this foundation; switch to pgvector
  -- column type in a follow-up migration when the extension is enabled.
  embedding_jsonb       JSONB NOT NULL,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_ise_chunk ON islamic_source_embeddings (chunk_id);
CREATE INDEX IF NOT EXISTS idx_ise_model ON islamic_source_embeddings (embedding_model);

-- -----------------------------------------------------------------------------
-- islamic_ingestion_jobs â€” operator-initiated ingestion runs.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS islamic_ingestion_jobs (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  source_id             UUID NOT NULL REFERENCES islamic_source_registry(id) ON DELETE CASCADE,
  job_type              TEXT NOT NULL CHECK (job_type IN (
    'register_source',
    'ingest_documents',
    'rechunk',
    'reembed',
    'reverify'
  )),
  status                TEXT NOT NULL CHECK (status IN (
    'queued',
    'running',
    'succeeded',
    'failed',
    'cancelled'
  )),
  started_at            TIMESTAMPTZ,
  finished_at           TIMESTAMPTZ,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_iij_status   ON islamic_ingestion_jobs (status);
CREATE INDEX IF NOT EXISTS idx_iij_source   ON islamic_ingestion_jobs (source_id);

-- -----------------------------------------------------------------------------
-- islamic_ingestion_job_events â€” append-only audit of ingestion job lifecycle.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS islamic_ingestion_job_events (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  job_id                UUID NOT NULL REFERENCES islamic_ingestion_jobs(id) ON DELETE CASCADE,
  event_type            TEXT NOT NULL CHECK (length(trim(event_type)) > 0),
  message_ar            TEXT,
  metadata_jsonb        JSONB,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_iije_job_created ON islamic_ingestion_job_events (job_id, created_at DESC);

-- -----------------------------------------------------------------------------
-- islamic_rag_query_audit â€” append-only audit of RAG queries.
-- Stores ONLY a sha-256 hash of the trimmed question. Never the raw question.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS islamic_rag_query_audit (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  question_hash         TEXT NOT NULL CHECK (length(question_hash) = 64),
  language              TEXT NOT NULL DEFAULT 'ar',
  matched_chunks        INTEGER NOT NULL DEFAULT 0 CHECK (matched_chunks >= 0),
  answered              BOOLEAN NOT NULL,
  block_reason          TEXT,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_irqa_created ON islamic_rag_query_audit (created_at DESC);
CREATE INDEX IF NOT EXISTS idx_irqa_answered ON islamic_rag_query_audit (answered);

-- -----------------------------------------------------------------------------
-- islamic_source_review_status â€” per-source review-state machine snapshot,
-- queried by /api/rag/status.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS islamic_source_review_status (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  source_id             UUID NOT NULL REFERENCES islamic_source_registry(id) ON DELETE CASCADE,
  reviewer_user_id      UUID,
  decision              TEXT NOT NULL CHECK (decision IN (
    'pending_review',
    'approve',
    'reject',
    'request_changes'
  )),
  note_ar               TEXT,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_isrs_source ON islamic_source_review_status (source_id);

COMMIT;
-- =============================================================================
-- Sakina migration 005 â€” Family / child safety foundation
-- File: backend/db/migrations/005_family_child_safety.sql
-- =============================================================================
-- Adds 6 tables for guardian-mediated family and child mode.
--
-- Privacy properties enforced at the SQL layer:
--   - Child profiles store ONLY a nickname (no real name, no birth date).
--   - Age is stored as an age-band enum, never an exact date.
--   - The schema deliberately omits contact / address / identity columns for
--     child rows; only nickname_ar + age_band are collected.
--   - Child progress lives in a separate table that explicitly carries
--     `is_private` defaulting to TRUE.
--   - No "leaderboard" table exists.
--   - Privacy audit log captures every guardian action; append-only by
--     convention (no UPDATE exposed by the route layer).
-- =============================================================================

BEGIN;

CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- -----------------------------------------------------------------------------
-- family_accounts â€” guardian-owned root row. Email is hashed only.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS family_accounts (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  guardian_email_hash   TEXT NOT NULL UNIQUE CHECK (length(guardian_email_hash) = 64),
  display_label_ar      TEXT NOT NULL CHECK (length(trim(display_label_ar)) > 0),
  status                TEXT NOT NULL CHECK (status IN ('active', 'suspended', 'closed')),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_fa_status ON family_accounts (status);

-- -----------------------------------------------------------------------------
-- family_members â€” guardians or co-guardians within a family. No children
-- here â€” children are in `child_profiles` so that the data model makes the
-- privacy difference explicit at the schema level.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS family_members (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  family_id             UUID NOT NULL REFERENCES family_accounts(id) ON DELETE CASCADE,
  role                  TEXT NOT NULL CHECK (role IN ('guardian', 'co_guardian')),
  member_email_hash     TEXT NOT NULL CHECK (length(member_email_hash) = 64),
  display_name_ar       TEXT NOT NULL CHECK (length(trim(display_name_ar)) > 0),
  status                TEXT NOT NULL CHECK (status IN ('active', 'disabled', 'pending')),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE UNIQUE INDEX IF NOT EXISTS uq_fm_family_member ON family_members (family_id, member_email_hash);
CREATE INDEX IF NOT EXISTS idx_fm_role ON family_members (role);

-- -----------------------------------------------------------------------------
-- child_profiles â€” nickname-only profile. NO chat. NO public profile.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS child_profiles (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  family_id             UUID NOT NULL REFERENCES family_accounts(id) ON DELETE CASCADE,
  nickname_ar           TEXT NOT NULL CHECK (length(trim(nickname_ar)) > 0 AND length(nickname_ar) <= 32),
  age_band              TEXT NOT NULL CHECK (age_band IN ('4-6', '7-9', '10-12', '13+')),
  child_mode_enabled    BOOLEAN NOT NULL DEFAULT TRUE,
  public_profile        BOOLEAN NOT NULL DEFAULT FALSE
    -- The CHECK below is the structural commitment that public profile is
    -- always FALSE for children. Schema-level guarantee against accidental flip.
    CHECK (public_profile = FALSE),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_cp_family ON child_profiles (family_id);
CREATE INDEX IF NOT EXISTS idx_cp_age    ON child_profiles (age_band);

-- -----------------------------------------------------------------------------
-- child_progress â€” gameplay/learning progress. is_private defaults TRUE and
-- the SQL CHECK forbids public_share = TRUE entirely.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS child_progress (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  child_id              UUID NOT NULL REFERENCES child_profiles(id) ON DELETE CASCADE,
  scenario_ref          TEXT NOT NULL CHECK (length(trim(scenario_ref)) > 0),
  hasanat_awarded       INTEGER NOT NULL DEFAULT 0 CHECK (hasanat_awarded >= 0),
  outcome               TEXT NOT NULL CHECK (outcome IN ('answered_correctly', 'answered_other', 'skipped')),
  is_private            BOOLEAN NOT NULL DEFAULT TRUE CHECK (is_private = TRUE),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_cprog_child_created ON child_progress (child_id, created_at DESC);

-- -----------------------------------------------------------------------------
-- guardian_settings â€” per-family controls.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS guardian_settings (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  family_id             UUID NOT NULL UNIQUE REFERENCES family_accounts(id) ON DELETE CASCADE,
  child_game_enabled    BOOLEAN NOT NULL DEFAULT TRUE,
  hide_sensitive_topics BOOLEAN NOT NULL DEFAULT TRUE,
  daily_usage_minutes   INTEGER NOT NULL DEFAULT 30 CHECK (daily_usage_minutes BETWEEN 0 AND 240),
  public_sharing        BOOLEAN NOT NULL DEFAULT FALSE
    CHECK (public_sharing = FALSE),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- -----------------------------------------------------------------------------
-- privacy_audit_log â€” append-only audit of any privacy-affecting action.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS privacy_audit_log (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  family_id             UUID REFERENCES family_accounts(id) ON DELETE SET NULL,
  actor_email_hash      TEXT CHECK (actor_email_hash IS NULL OR length(actor_email_hash) = 64),
  action                TEXT NOT NULL CHECK (length(trim(action)) > 0),
  target_type           TEXT NOT NULL CHECK (length(trim(target_type)) > 0),
  target_id             UUID,
  metadata_jsonb        JSONB,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_pal_family_created ON privacy_audit_log (family_id, created_at DESC);
CREATE INDEX IF NOT EXISTS idx_pal_target ON privacy_audit_log (target_type, target_id);

COMMIT;
-- =============================================================================
-- Sakina migration 006 â€” Charity / sadaqah campaign foundation
-- File: backend/db/migrations/006_charity_campaigns.sql
-- =============================================================================
-- Adds 5 tables for sadaqah campaigns with transparent public information.
-- No payment integration in this migration. Real provider configuration
-- happens in a separate operator-driven sprint with explicit approval.
--
-- Properties:
--   - Campaigns gated by verification_status before public visibility.
--   - Amount columns are NUMERIC, NULL allowed when amount is undisclosed.
--   - Donation "intents" record interest, not actual payment success â€” until
--     a real provider is wired, no row in this table represents a completed
--     transaction.
--   - Transparency-log table is append-only by convention.
-- =============================================================================

BEGIN;

CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- -----------------------------------------------------------------------------
-- charity_campaigns â€” the public-facing campaign record.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS charity_campaigns (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  title_ar              TEXT NOT NULL CHECK (length(trim(title_ar)) > 0),
  description_ar        TEXT NOT NULL CHECK (length(trim(description_ar)) > 0),
  category              TEXT NOT NULL CHECK (category IN (
    'food_relief',
    'water_relief',
    'orphan_support',
    'islamic_education',
    'mosque_support',
    'medical_relief',
    'general'
  )),
  target_amount         NUMERIC(14, 2) CHECK (target_amount IS NULL OR target_amount >= 0),
  collected_amount      NUMERIC(14, 2) NOT NULL DEFAULT 0 CHECK (collected_amount >= 0),
  status                TEXT NOT NULL CHECK (status IN (
    'draft',
    'active',
    'paused',
    'completed',
    'hidden'
  )),
  verification_status   TEXT NOT NULL CHECK (verification_status IN (
    'unverified',
    'pending_review',
    'approved',
    'rejected'
  )),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_cc_status     ON charity_campaigns (status);
CREATE INDEX IF NOT EXISTS idx_cc_vstatus    ON charity_campaigns (verification_status);
CREATE INDEX IF NOT EXISTS idx_cc_category   ON charity_campaigns (category);
CREATE INDEX IF NOT EXISTS idx_cc_active
  ON charity_campaigns (category)
  WHERE status = 'active' AND verification_status = 'approved';

-- -----------------------------------------------------------------------------
-- charity_campaign_updates â€” append-only operator updates.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS charity_campaign_updates (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  campaign_id           UUID NOT NULL REFERENCES charity_campaigns(id) ON DELETE CASCADE,
  update_type           TEXT NOT NULL CHECK (update_type IN (
    'milestone',
    'distribution_report',
    'thank_you',
    'paused_notice',
    'completion_notice'
  )),
  body_ar               TEXT NOT NULL CHECK (length(trim(body_ar)) > 0),
  evidence_url          TEXT,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_ccu_campaign_created ON charity_campaign_updates (campaign_id, created_at DESC);

-- -----------------------------------------------------------------------------
-- charity_donation_intents â€” records of user intent to donate. Does NOT
-- represent a completed transaction. Real payment provider integration is
-- a separate sprint.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS charity_donation_intents (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  campaign_id           UUID NOT NULL REFERENCES charity_campaigns(id) ON DELETE CASCADE,
  amount                NUMERIC(14, 2) CHECK (amount IS NULL OR amount >= 0),
  currency              TEXT NOT NULL DEFAULT 'USD' CHECK (length(currency) BETWEEN 3 AND 8),
  status                TEXT NOT NULL CHECK (status IN (
    'initiated',
    'provider_not_configured',
    'cancelled',
    'completed_external_record'
  )),
  intent_hash           TEXT NOT NULL CHECK (length(intent_hash) = 64),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_cdi_campaign  ON charity_donation_intents (campaign_id);
CREATE INDEX IF NOT EXISTS idx_cdi_status    ON charity_donation_intents (status);

-- -----------------------------------------------------------------------------
-- charity_payment_provider_config â€” operator-managed provider hint. No real
-- credentials in this table; values reference Kubernetes Secret keys.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS charity_payment_provider_config (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  provider_name         TEXT NOT NULL CHECK (provider_name IN (
    'not_configured',
    'sandbox',
    'production'
  )),
  secret_key_ref_name   TEXT,
  webhook_path          TEXT,
  status                TEXT NOT NULL CHECK (status IN ('disabled', 'sandbox', 'enabled')),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  CHECK (provider_name <> 'not_configured' OR status = 'disabled')
);

-- -----------------------------------------------------------------------------
-- charity_transparency_logs â€” public-facing transparency notes. Append-only.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS charity_transparency_logs (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  campaign_id           UUID NOT NULL REFERENCES charity_campaigns(id) ON DELETE CASCADE,
  topic                 TEXT NOT NULL CHECK (length(trim(topic)) > 0),
  body_ar               TEXT NOT NULL CHECK (length(trim(body_ar)) > 0),
  evidence_url          TEXT,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_ctl_campaign_created ON charity_transparency_logs (campaign_id, created_at DESC);

COMMIT;
-- =============================================================================
-- Sakina migration 007 â€” privacy / data-rights request foundation
-- =============================================================================
-- Adds `privacy_requests`: a single append-only table for account-deletion,
-- data-export, and contact requests submitted from the public endpoints.
--
-- Privacy properties at SQL layer:
--   - Email is only stored as a sha-256 hash (length = 64). No raw email.
--   - Metadata column is jsonb; routes redact PII before insert.
--   - Status enum makes the "storage_not_configured" state explicit so the
--     route layer can communicate exactly why nothing was persisted.
-- =============================================================================

BEGIN;

CREATE EXTENSION IF NOT EXISTS pgcrypto;

CREATE TABLE IF NOT EXISTS privacy_requests (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  request_type          TEXT NOT NULL CHECK (request_type IN (
    'delete_account',
    'data_export',
    'contact'
  )),
  requester_email_hash  TEXT CHECK (requester_email_hash IS NULL OR length(requester_email_hash) = 64),
  status                TEXT NOT NULL CHECK (status IN (
    'received',
    'pending_verification',
    'completed',
    'rejected',
    'storage_not_configured'
  )),
  metadata_jsonb        JSONB,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_pr_type_status ON privacy_requests (request_type, status);
CREATE INDEX IF NOT EXISTS idx_pr_created     ON privacy_requests (created_at DESC);

COMMIT;
-- =============================================================================
-- Sakina migration 008 â€” Rahma infra alignment
-- File: backend/db/migrations/008_rahma_infra_alignment.sql
-- =============================================================================
-- Additive, idempotent. Adds the few tables the Rahma infra contract names
-- explicitly but that prior migrations did NOT create:
--   - audit_events (system-wide audit trail; complements sakina_sheikh_audit_log)
--   - children_game_progress (server-side backup of child progress; local-first remains the primary store)
--
-- Tables already covered by previous migrations and NOT duplicated here:
--   users                  -> migration 001 (`users`) and 003 (`sakina_users`)
--   roles, user_roles      -> role column on sakina_users (003)
--   sheikh_profiles        -> sakina_sheikh_profiles (003)
--   islamic_questions      -> sakina_user_questions (003)
--   islamic_answers        -> sakina_sheikh_answers (003)
--   answer_citations       -> sakina_sheikh_answer_citations (003)
--   quran_references / hadith_references
--                          -> islamic_source_registry + islamic_source_documents (004)
--
-- Zero seed data. Zero destructive operations.
-- =============================================================================

BEGIN;

CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- -----------------------------------------------------------------------------
-- audit_events â€” append-only system-wide audit trail. The existing
-- sakina_sheikh_audit_log is scoped to scholar/moderator/admin actions on
-- Sheikh Hasan content. This table is for everything else (privacy
-- requests, RAG ingestion, charity events, RBAC denials).
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS audit_events (
  id                  UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  occurred_at         TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  actor_kind          TEXT NOT NULL CHECK (actor_kind IN (
    'public_user',
    'authenticated_user',
    'sheikh',
    'moderator',
    'content_reviewer',
    'charity_admin',
    'admin',
    'system'
  )),
  actor_id            UUID,                       -- optional, never the email
  actor_email_hash    TEXT CHECK (actor_email_hash IS NULL OR length(actor_email_hash) = 64),
  event_type          TEXT NOT NULL CHECK (length(trim(event_type)) > 0),
  target_kind         TEXT NOT NULL CHECK (length(trim(target_kind)) > 0),
  target_id           UUID,
  ip_hash             TEXT CHECK (ip_hash IS NULL OR length(ip_hash) = 64),
  metadata_json       JSONB,
  CHECK (occurred_at <= NOW() + INTERVAL '1 minute')
);
CREATE INDEX IF NOT EXISTS idx_ae_occurred       ON audit_events (occurred_at DESC);
CREATE INDEX IF NOT EXISTS idx_ae_event_type     ON audit_events (event_type);
CREATE INDEX IF NOT EXISTS idx_ae_target         ON audit_events (target_kind, target_id);
CREATE INDEX IF NOT EXISTS idx_ae_actor          ON audit_events (actor_kind, actor_id);

-- -----------------------------------------------------------------------------
-- children_game_progress â€” server-side backup of child-game state.
-- The product contract keeps the primary store local (localStorage on the
-- device). This server-side row exists only when the operator opts in to
-- account-bound progress. No child personal data is stored: only an
-- opaque user_id (UUID), a game scenario id, the answer counters, and the
-- last-updated timestamp.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS children_game_progress (
  id                  UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id             UUID NOT NULL,                    -- opaque; not joined to public PII
  scenario_id         TEXT NOT NULL CHECK (length(trim(scenario_id)) > 0),
  attempts_count      INTEGER NOT NULL DEFAULT 0 CHECK (attempts_count >= 0),
  correct_count       INTEGER NOT NULL DEFAULT 0 CHECK (correct_count >= 0 AND correct_count <= attempts_count),
  last_state_jsonb    JSONB,                            -- counters + small badges only; NEVER PII
  created_at          TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at          TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  UNIQUE (user_id, scenario_id)
);
CREATE INDEX IF NOT EXISTS idx_cgp_user        ON children_game_progress (user_id);
CREATE INDEX IF NOT EXISTS idx_cgp_scenario    ON children_game_progress (scenario_id);
CREATE INDEX IF NOT EXISTS idx_cgp_updated     ON children_game_progress (updated_at DESC);

COMMIT;
-- =============================================================================
-- Sakina migration 009 â€” Rahma WASM audit
-- File: backend/db/migrations/009_rahma_wasm_audit.sql
-- =============================================================================
-- Audit trails for every WASM policy evaluation the backend trusts.
-- Append-only by convention: the route layer never exposes UPDATE.
--
-- These tables are decoupled from the existing sakina_sheikh_audit_log so
-- the WASM evaluations can be queried independently for parity checks
-- (JS-vs-WASM identical decisions) and security audits.
--
-- Zero seed data. Idempotent. No destructive ops.
-- =============================================================================

BEGIN;

CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- 1. Generic WASM policy decision log.
CREATE TABLE IF NOT EXISTS wasm_policy_audit (
  id                  UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  occurred_at         TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  module_name         TEXT NOT NULL CHECK (length(trim(module_name)) > 0),
  module_version      TEXT NOT NULL CHECK (length(trim(module_version)) > 0),
  input_hash          TEXT NOT NULL CHECK (length(input_hash) = 64),   -- sha-256 hex
  decision            TEXT NOT NULL CHECK (length(trim(decision)) > 0),
  reason              TEXT,
  parity_js_decision  TEXT,                              -- decision produced by the JS implementation, if compared
  parity_match        BOOLEAN,                           -- TRUE iff WASM and JS produced identical decisions
  metadata_json       JSONB
);
CREATE INDEX IF NOT EXISTS idx_wpa_module   ON wasm_policy_audit (module_name, module_version);
CREATE INDEX IF NOT EXISTS idx_wpa_decision ON wasm_policy_audit (decision);
CREATE INDEX IF NOT EXISTS idx_wpa_occurred ON wasm_policy_audit (occurred_at DESC);

-- 2. Citation-gate specific audit.
CREATE TABLE IF NOT EXISTS wasm_citation_audit (
  id                  UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  occurred_at         TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  answer_id           UUID,                              -- optional FK to sakina_sheikh_answers
  input_hash          TEXT NOT NULL CHECK (length(input_hash) = 64),
  citation_status     TEXT NOT NULL CHECK (citation_status IN (
    'quran_cited',
    'hadith_cited',
    'quran_and_hadith_cited',
    'scholar_advice_needs_review',
    'insufficient_citation'
  )),
  can_publish_public  BOOLEAN NOT NULL,
  can_publish_private BOOLEAN NOT NULL,
  reason              TEXT
);
CREATE INDEX IF NOT EXISTS idx_wca_answer    ON wasm_citation_audit (answer_id);
CREATE INDEX IF NOT EXISTS idx_wca_status    ON wasm_citation_audit (citation_status);
CREATE INDEX IF NOT EXISTS idx_wca_occurred  ON wasm_citation_audit (occurred_at DESC);

-- 3. Child-safety audit. NEVER stores body_ar â€” only its sha-256.
CREATE TABLE IF NOT EXISTS wasm_child_safety_audit (
  id                  UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  occurred_at         TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  body_hash           TEXT NOT NULL CHECK (length(body_hash) = 64),
  age_band            TEXT NOT NULL CHECK (age_band IN ('4-6','7-9','10-12','13+')),
  decision            TEXT NOT NULL CHECK (decision IN ('allow','block')),
  reason              TEXT,
  sensitive_topic     TEXT
);
CREATE INDEX IF NOT EXISTS idx_wcsa_decision  ON wasm_child_safety_audit (decision);
CREATE INDEX IF NOT EXISTS idx_wcsa_age_band  ON wasm_child_safety_audit (age_band);
CREATE INDEX IF NOT EXISTS idx_wcsa_occurred  ON wasm_child_safety_audit (occurred_at DESC);

-- 4. Rule-engine audit for content visibility decisions.
CREATE TABLE IF NOT EXISTS wasm_rule_engine_audit (
  id                       UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  occurred_at              TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  item_kind                TEXT NOT NULL CHECK (length(trim(item_kind)) > 0),
  item_id                  UUID,
  verification_status      TEXT NOT NULL,
  has_citation             BOOLEAN NOT NULL,
  is_published             BOOLEAN NOT NULL,
  is_test_fixture          BOOLEAN NOT NULL,
  show_in_public_list      BOOLEAN NOT NULL,
  public_visible           BOOLEAN NOT NULL,
  private_visible          BOOLEAN NOT NULL,
  reason                   TEXT
);
CREATE INDEX IF NOT EXISTS idx_wrea_item     ON wasm_rule_engine_audit (item_kind, item_id);
CREATE INDEX IF NOT EXISTS idx_wrea_occurred ON wasm_rule_engine_audit (occurred_at DESC);

COMMIT;
-- =============================================================================
-- Sakina migration 010 â€” Rahma mobile alignment
-- File: backend/db/migrations/010_rahma_mobile_alignment.sql
-- =============================================================================
-- Adds mobile-specific tables the prior migrations did NOT create:
--   - mobile_sessions      (opaque session token hash + device hash; no PII)
--   - device_registrations (per-device install metadata)
--   - push_notification_tokens (apns/fcm tokens, hashed; no raw)
--   - donation_intents     (mobile-only foundation; provider gated, no card data ever)
--   - donation_audit       (append-only)
--
-- Existing tables NOT duplicated:
--   users / sakina_users        -> 001 / 003
--   sheikh_profiles             -> 003
--   sheikh_answers / citations  -> 003
--   children_game_progress      -> 008
--
-- Zero seed data. Additive. No destructive ops.
-- =============================================================================

BEGIN;

CREATE EXTENSION IF NOT EXISTS pgcrypto;

CREATE TABLE IF NOT EXISTS mobile_sessions (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id               UUID NOT NULL,                      -- opaque app-side user id
  session_token_hash    TEXT NOT NULL UNIQUE CHECK (length(session_token_hash) = 64),
  device_hash           TEXT NOT NULL CHECK (length(device_hash) = 64),
  app_version           TEXT NOT NULL CHECK (length(trim(app_version)) > 0 AND length(app_version) <= 32),
  platform              TEXT NOT NULL CHECK (platform IN ('android','ios','unknown')),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  expires_at            TIMESTAMPTZ NOT NULL,
  revoked_at            TIMESTAMPTZ
);
CREATE INDEX IF NOT EXISTS idx_ms_user      ON mobile_sessions (user_id);
CREATE INDEX IF NOT EXISTS idx_ms_expires   ON mobile_sessions (expires_at DESC);

CREATE TABLE IF NOT EXISTS device_registrations (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id               UUID,                                -- nullable for anonymous installs
  device_hash           TEXT NOT NULL UNIQUE CHECK (length(device_hash) = 64),
  platform              TEXT NOT NULL CHECK (platform IN ('android','ios','unknown')),
  app_version           TEXT NOT NULL,
  locale                TEXT NOT NULL DEFAULT 'ar',
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  last_seen_at          TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_dr_user      ON device_registrations (user_id);
CREATE INDEX IF NOT EXISTS idx_dr_platform  ON device_registrations (platform);

CREATE TABLE IF NOT EXISTS push_notification_tokens (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  device_id             UUID NOT NULL REFERENCES device_registrations(id) ON DELETE CASCADE,
  token_hash            TEXT NOT NULL UNIQUE CHECK (length(token_hash) = 64),  -- sha-256 of raw token, never store raw
  provider              TEXT NOT NULL CHECK (provider IN ('apns','fcm')),
  registered_at         TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  revoked_at            TIMESTAMPTZ
);
CREATE INDEX IF NOT EXISTS idx_pnt_device  ON push_notification_tokens (device_id);

CREATE TABLE IF NOT EXISTS donation_intents (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id               UUID,                                -- nullable for guest intent
  amount_cents          BIGINT NOT NULL CHECK (amount_cents > 0),
  currency              TEXT NOT NULL CHECK (length(currency) = 3),
  cause_id              TEXT NOT NULL CHECK (length(trim(cause_id)) > 0),
  provider              TEXT NOT NULL CHECK (provider IN ('disabled','stripe','paypal','manual_offline')) DEFAULT 'disabled',
  status                TEXT NOT NULL CHECK (status IN (
    'intent_recorded','provider_disabled','provider_pending','succeeded','failed','refunded'
  )) DEFAULT 'intent_recorded',
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_di_user     ON donation_intents (user_id);
CREATE INDEX IF NOT EXISTS idx_di_status   ON donation_intents (status);
CREATE INDEX IF NOT EXISTS idx_di_cause    ON donation_intents (cause_id);

CREATE TABLE IF NOT EXISTS donation_audit (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  intent_id             UUID NOT NULL REFERENCES donation_intents(id) ON DELETE CASCADE,
  occurred_at           TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  event                 TEXT NOT NULL CHECK (length(trim(event)) > 0),
  metadata_json         JSONB
);
CREATE INDEX IF NOT EXISTS idx_da_intent   ON donation_audit (intent_id);
CREATE INDEX IF NOT EXISTS idx_da_occurred ON donation_audit (occurred_at DESC);

COMMIT;
-- =============================================================================
-- Sakina migration 011 â€” Rahma roles + children-game alignment
-- File: backend/db/migrations/011_rahma_roles_and_game_events.sql
-- =============================================================================
-- Adds the few tables the Rahma backend contract names but earlier
-- migrations did NOT explicitly create:
--   - roles                          (role catalogue separate from sakina_users.role column)
--   - user_roles                     (many-to-many user â†” role)
--   - children_game_profiles         (opaque per-user game profile, no PII)
--   - children_game_events           (append-only event log; counters only)
--
-- Additive, idempotent. Zero seed data. Zero destructive ops.
-- =============================================================================

BEGIN;

CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- -----------------------------------------------------------------------------
-- roles â€” canonical catalogue. The string `name` is the wire-level role
-- identifier; the backend enforces it via auth/roles.js.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS roles (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name                  TEXT NOT NULL UNIQUE CHECK (name IN (
    'public_user',
    'user',
    'sheikh',
    'moderator',
    'content_reviewer',
    'charity_admin',
    'admin'
  )),
  description           TEXT,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- -----------------------------------------------------------------------------
-- user_roles â€” many-to-many. user_id is opaque (UUID), matching the rest
-- of the mobile data model. role_id references roles(id).
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS user_roles (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id               UUID NOT NULL,
  role_id               UUID NOT NULL REFERENCES roles(id) ON DELETE CASCADE,
  granted_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  granted_by            UUID,                            -- opaque actor id
  revoked_at            TIMESTAMPTZ,
  UNIQUE (user_id, role_id)
);
CREATE INDEX IF NOT EXISTS idx_ur_user   ON user_roles (user_id);
CREATE INDEX IF NOT EXISTS idx_ur_active ON user_roles (user_id, revoked_at);

-- -----------------------------------------------------------------------------
-- children_game_profiles â€” opaque per-user profile for the game. Stores
-- ONLY counters and prefs. No name, no age (only age_band), no device id.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS children_game_profiles (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id               UUID NOT NULL,
  age_band              TEXT NOT NULL CHECK (age_band IN ('4-6','7-9','10-12','13+')),
  preferred_language    TEXT NOT NULL DEFAULT 'ar' CHECK (length(preferred_language) BETWEEN 2 AND 8),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  UNIQUE (user_id)
);
CREATE INDEX IF NOT EXISTS idx_cgp_age_band ON children_game_profiles (age_band);

-- -----------------------------------------------------------------------------
-- children_game_events â€” append-only event log: started, completed, etc.
-- NEVER stores answer text, NEVER stores child PII.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS children_game_events (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  occurred_at           TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  profile_id            UUID NOT NULL REFERENCES children_game_profiles(id) ON DELETE CASCADE,
  scenario_id           TEXT NOT NULL CHECK (length(trim(scenario_id)) > 0 AND length(scenario_id) <= 64),
  event_type            TEXT NOT NULL CHECK (event_type IN (
    'scenario_started',
    'scenario_completed',
    'attempt_recorded',
    'badge_earned'
  )),
  attempts_count        INTEGER NOT NULL DEFAULT 0 CHECK (attempts_count >= 0),
  correct_count         INTEGER NOT NULL DEFAULT 0 CHECK (correct_count >= 0 AND correct_count <= attempts_count)
);
CREATE INDEX IF NOT EXISTS idx_cge_profile  ON children_game_events (profile_id);
CREATE INDEX IF NOT EXISTS idx_cge_scenario ON children_game_events (scenario_id);
CREATE INDEX IF NOT EXISTS idx_cge_occurred ON children_game_events (occurred_at DESC);

COMMIT;
-- =============================================================================
-- Sakina migration 012 â€” Islamic source registry alignment
-- File: backend/db/migrations/012_rahma_islamic_source_jobs.sql
-- =============================================================================
-- Sprint 45 â€” source governance plumbing.
--
-- The core `islamic_source_registry` + `islamic_source_documents` tables
-- already exist (migration 004). This migration adds:
--   - islamic_source_versions       â€” per-source versioning record
--   - islamic_content_import_jobs   â€” operator-launched import jobs
--   - islamic_content_import_events â€” append-only job event log
--
-- These are the surfaces a future "operator-approved import" tool would
-- write into. They never accept content without a registry row in
-- approved state â€” that's enforced at the route layer plus by the
-- foreign keys below.
-- =============================================================================

BEGIN;

CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- -----------------------------------------------------------------------------
-- islamic_source_versions â€” one row per (source_id, version) tuple.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS islamic_source_versions (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  source_id             UUID NOT NULL REFERENCES islamic_source_registry(id) ON DELETE CASCADE,
  version_label         TEXT NOT NULL CHECK (length(trim(version_label)) > 0 AND length(version_label) <= 64),
  license_id            TEXT NOT NULL CHECK (length(trim(license_id)) > 0 AND length(license_id) <= 64),
  language              TEXT NOT NULL DEFAULT 'ar' CHECK (length(language) BETWEEN 2 AND 8),
  content_hash          TEXT NOT NULL CHECK (length(content_hash) = 64),
  verification_status   TEXT NOT NULL CHECK (verification_status IN (
    'unverified',
    'pending_review',
    'approved',
    'rejected'
  )),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  approved_at           TIMESTAMPTZ,
  UNIQUE (source_id, version_label)
);
CREATE INDEX IF NOT EXISTS idx_isv_source   ON islamic_source_versions (source_id);
CREATE INDEX IF NOT EXISTS idx_isv_status   ON islamic_source_versions (verification_status);

-- -----------------------------------------------------------------------------
-- islamic_content_import_jobs â€” operator-launched import job record.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS islamic_content_import_jobs (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  source_id             UUID NOT NULL REFERENCES islamic_source_registry(id) ON DELETE RESTRICT,
  version_id            UUID NOT NULL REFERENCES islamic_source_versions(id) ON DELETE RESTRICT,
  initiated_by          UUID,                       -- opaque operator id; never the email
  job_kind              TEXT NOT NULL CHECK (job_kind IN (
    'dry_run',
    'import',
    'rechunk',
    'reverify'
  )),
  status                TEXT NOT NULL CHECK (status IN (
    'queued',
    'running',
    'succeeded',
    'failed',
    'cancelled'
  )) DEFAULT 'queued',
  total_items           INTEGER CHECK (total_items IS NULL OR total_items >= 0),
  imported_items        INTEGER NOT NULL DEFAULT 0 CHECK (imported_items >= 0),
  rejected_items        INTEGER NOT NULL DEFAULT 0 CHECK (rejected_items >= 0),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  started_at            TIMESTAMPTZ,
  finished_at           TIMESTAMPTZ
);
CREATE INDEX IF NOT EXISTS idx_icij_source   ON islamic_content_import_jobs (source_id);
CREATE INDEX IF NOT EXISTS idx_icij_status   ON islamic_content_import_jobs (status);
CREATE INDEX IF NOT EXISTS idx_icij_created  ON islamic_content_import_jobs (created_at DESC);

-- -----------------------------------------------------------------------------
-- islamic_content_import_events â€” append-only event log per job.
-- -----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS islamic_content_import_events (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  job_id                UUID NOT NULL REFERENCES islamic_content_import_jobs(id) ON DELETE CASCADE,
  occurred_at           TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  event_type            TEXT NOT NULL CHECK (event_type IN (
    'job_started',
    'item_imported',
    'item_rejected',
    'item_pending_review',
    'job_succeeded',
    'job_failed',
    'job_cancelled'
  )),
  document_ref          TEXT,                       -- per-row pointer
  reason                TEXT,
  metadata_json         JSONB
);
CREATE INDEX IF NOT EXISTS idx_icie_job        ON islamic_content_import_events (job_id);
CREATE INDEX IF NOT EXISTS idx_icie_event_type ON islamic_content_import_events (event_type);
CREATE INDEX IF NOT EXISTS idx_icie_occurred   ON islamic_content_import_events (occurred_at DESC);

COMMIT;
-- =============================================================================
-- Rahma migration 013 â€” Full Ask Sheikh Hasan Workflow (Bilingual)
-- File: backend/db/migrations/013_ask_sheikh_hasan_workflow.sql
-- =============================================================================
-- This migration implements the V4 bilingual workflow for Sheikh Hasan.
-- It adds five tables that support authored Arabic/English content,
-- strict admin approval, and citation-gated publishing.
--
-- Tables:
--   1. ask_sheikh_categories
--   2. ask_sheikh_questions
--   3. ask_sheikh_answers
--   4. ask_sheikh_answer_citations
--   5. ask_sheikh_audit_events
-- =============================================================================

BEGIN;

CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- 1. ask_sheikh_categories
CREATE TABLE IF NOT EXISTS ask_sheikh_categories (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  slug                  TEXT NOT NULL UNIQUE CHECK (length(trim(slug)) > 0),
  title_ar              TEXT NOT NULL CHECK (length(trim(title_ar)) > 0),
  title_en              TEXT,
  description_ar        TEXT,
  description_en        TEXT,
  is_active             BOOLEAN NOT NULL DEFAULT TRUE,
  sort_order            INTEGER NOT NULL DEFAULT 0,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_asc_active ON ask_sheikh_categories (is_active, sort_order);

-- 2. ask_sheikh_questions
CREATE TABLE IF NOT EXISTS ask_sheikh_questions (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id               UUID REFERENCES sakina_users(id) ON DELETE SET NULL,
  category_id           UUID REFERENCES ask_sheikh_categories(id) ON DELETE SET NULL,
  question_text_ar      TEXT CHECK (question_text_ar IS NULL OR length(trim(question_text_ar)) > 0),
  question_text_en      TEXT CHECK (question_text_en IS NULL OR length(trim(question_text_en)) > 0),
  original_language     TEXT NOT NULL CHECK (original_language IN ('ar', 'en', 'unknown')),
  display_preference    TEXT NOT NULL DEFAULT 'ar' CHECK (display_preference IN ('ar', 'en', 'both')),
  status                TEXT NOT NULL CHECK (status IN (
    'submitted',
    'pending_sheikh',
    'answered_by_sheikh',
    'pending_admin_approval',
    'approved',
    'rejected',
    'published',
    'archived'
  )),
  public_visible        BOOLEAN NOT NULL DEFAULT FALSE,
  is_anonymous          BOOLEAN NOT NULL DEFAULT TRUE,
  assigned_sheikh_id    UUID REFERENCES sakina_users(id) ON DELETE SET NULL,
  moderation_notes      TEXT,
  admin_notes           TEXT,
  rejection_reason      TEXT,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  submitted_ip_hash     TEXT,
  user_agent_hash       TEXT,
  -- Constraint: at least one language must be present
  CONSTRAINT ck_asq_text_present CHECK (question_text_ar IS NOT NULL OR question_text_en IS NOT NULL)
);
CREATE INDEX IF NOT EXISTS idx_asq_status ON ask_sheikh_questions (status);
CREATE INDEX IF NOT EXISTS idx_asq_public ON ask_sheikh_questions (public_visible) WHERE public_visible = TRUE;

-- 3. ask_sheikh_answers
CREATE TABLE IF NOT EXISTS ask_sheikh_answers (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  question_id           UUID NOT NULL REFERENCES ask_sheikh_questions(id) ON DELETE CASCADE,
  answered_by_user_id   UUID NOT NULL REFERENCES sakina_users(id) ON DELETE RESTRICT,
  answer_text_ar        TEXT CHECK (answer_text_ar IS NULL OR length(trim(answer_text_ar)) > 0),
  answer_text_en        TEXT CHECK (answer_text_en IS NULL OR length(trim(answer_text_en)) > 0),
  original_answer_lang  TEXT NOT NULL CHECK (original_answer_lang IN ('ar', 'en', 'unknown')),
  status                TEXT NOT NULL CHECK (status IN (
    'draft',
    'submitted_for_admin_review',
    'approved',
    'rejected',
    'published',
    'archived'
  )),
  public_visible        BOOLEAN NOT NULL DEFAULT FALSE,
  reviewed_by_admin_id  UUID REFERENCES sakina_users(id) ON DELETE SET NULL,
  reviewed_at           TIMESTAMPTZ,
  admin_review_notes    TEXT,
  rejection_reason      TEXT,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  -- Constraint: at least one language must be present
  CONSTRAINT ck_asa_text_present CHECK (answer_text_ar IS NOT NULL OR answer_text_en IS NOT NULL)
);
CREATE INDEX IF NOT EXISTS idx_asa_question ON ask_sheikh_answers (question_id);
CREATE INDEX IF NOT EXISTS idx_asa_status ON ask_sheikh_answers (status);

-- 4. ask_sheikh_answer_citations
CREATE TABLE IF NOT EXISTS ask_sheikh_answer_citations (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  answer_id             UUID NOT NULL REFERENCES ask_sheikh_answers(id) ON DELETE CASCADE,
  source_type           TEXT NOT NULL CHECK (source_type IN (
    'quran',
    'hadith',
    'scholarly',
    'fatwa_reference',
    'other'
  )),
  source_title_ar       TEXT,
  source_title_en       TEXT,
  reference_ar          TEXT,
  reference_en          TEXT,
  quote_ar              TEXT,
  quote_en              TEXT,
  url                   TEXT,
  verification_status   TEXT NOT NULL DEFAULT 'unverified' CHECK (verification_status IN (
    'unverified',
    'verified',
    'rejected',
    'needs_review'
  )),
  verified_by_admin_id  UUID REFERENCES sakina_users(id) ON DELETE SET NULL,
  verified_at           TIMESTAMPTZ,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  -- Constraint: at least one reference field is required
  CONSTRAINT ck_asac_ref_present CHECK (reference_ar IS NOT NULL OR reference_en IS NOT NULL)
);
CREATE INDEX IF NOT EXISTS idx_asac_answer ON ask_sheikh_answer_citations (answer_id);

-- 5. ask_sheikh_audit_events
CREATE TABLE IF NOT EXISTS ask_sheikh_audit_events (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  actor_user_id         UUID REFERENCES sakina_users(id) ON DELETE SET NULL,
  question_id           UUID REFERENCES ask_sheikh_questions(id) ON DELETE SET NULL,
  answer_id             UUID REFERENCES ask_sheikh_answers(id) ON DELETE SET NULL,
  action                TEXT NOT NULL CHECK (action IN (
    'question_submitted',
    'question_assigned_to_sheikh',
    'sheikh_answer_drafted',
    'sheikh_answer_submitted',
    'admin_approved_answer',
    'admin_rejected_answer',
    'answer_published',
    'question_archived',
    'visibility_changed'
  )),
  before_status         TEXT,
  after_status          TEXT,
  metadata_json         JSONB,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_asae_question ON ask_sheikh_audit_events (question_id);
CREATE INDEX IF NOT EXISTS idx_asae_answer ON ask_sheikh_audit_events (answer_id);

COMMIT;
-- =============================================================================
-- Rahma migration 014 â€” Native Modules Foundation
-- File: backend/db/migrations/014_native_modules_foundation.sql
-- =============================================================================
-- Adds foundation for Quran, Prayer, and Mosque features.
-- =============================================================================

BEGIN;

-- 1. quran_surahs
CREATE TABLE IF NOT EXISTS quran_surahs (
  id                    INTEGER PRIMARY KEY,
  name_ar               TEXT NOT NULL,
  name_en               TEXT NOT NULL,
  revelation_type       TEXT NOT NULL CHECK (revelation_type IN ('Meccan', 'Medinan')),
  total_ayahs           INTEGER NOT NULL,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 2. quran_ayahs
CREATE TABLE IF NOT EXISTS quran_ayahs (
  id                    INTEGER PRIMARY KEY,
  surah_id              INTEGER NOT NULL REFERENCES quran_surahs(id) ON DELETE CASCADE,
  ayah_number           INTEGER NOT NULL,
  text_ar               TEXT NOT NULL,
  text_en               TEXT,
  audio_url             TEXT,
  page_number           INTEGER,
  juz_number            INTEGER,
  UNIQUE (surah_id, ayah_number)
);
CREATE INDEX IF NOT EXISTS idx_qa_surah ON quran_ayahs (surah_id);

-- 3. user_bookmarks (Quran)
CREATE TABLE IF NOT EXISTS user_bookmarks (
  id                    UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id               UUID REFERENCES sakina_users(id) ON DELETE CASCADE,
  ayah_id               INTEGER NOT NULL REFERENCES quran_ayahs(id) ON DELETE CASCADE,
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  UNIQUE (user_id, ayah_id)
);

-- 4. prayer_calculation_settings
CREATE TABLE IF NOT EXISTS user_prayer_settings (
  user_id               UUID PRIMARY KEY REFERENCES sakina_users(id) ON DELETE CASCADE,
  calculation_method    TEXT NOT NULL DEFAULT 'MuslimWorldLeague',
  asr_method            TEXT NOT NULL DEFAULT 'Standard',
  latitude              NUMERIC(10, 7),
  longitude             NUMERIC(10, 7),
  city                  TEXT,
  country               TEXT,
  timezone              TEXT,
  updated_at            TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 5. user_azan_preferences
CREATE TABLE IF NOT EXISTS user_azan_preferences (
  user_id               UUID REFERENCES sakina_users(id) ON DELETE CASCADE,
  prayer_name           TEXT NOT NULL CHECK (prayer_name IN ('Fajr', 'Dhuhr', 'Asr', 'Maghrib', 'Isha')),
  is_enabled            BOOLEAN NOT NULL DEFAULT TRUE,
  sound_type            TEXT NOT NULL DEFAULT 'default',
  reminder_minutes      INTEGER NOT NULL DEFAULT 0,
  PRIMARY KEY (user_id, prayer_name)
);

COMMIT;
-- 015_user_notifications.sql
-- Adds table for in-app and push notification tracking.

CREATE TABLE IF NOT EXISTS user_notifications (
  id          BIGSERIAL PRIMARY KEY,
  user_id     UUID REFERENCES users(id) ON DELETE CASCADE,
  title_ar    TEXT NOT NULL,
  title_en    TEXT,
  body_ar     TEXT NOT NULL,
  body_en     TEXT,
  level       TEXT NOT NULL DEFAULT 'info' CHECK (level IN ('info', 'warning', 'urgent')),
  metadata    JSONB DEFAULT '{}',
  read_at     TIMESTAMPTZ,
  created_at  TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_user_notifications_user_id ON user_notifications (user_id);
CREATE INDEX IF NOT EXISTS idx_user_notifications_created_at ON user_notifications (created_at DESC);
-- 016_children_game.sql
-- Adds tables for children Islamic game scenarios and progress.

CREATE TABLE IF NOT EXISTS children_scenarios (
  id              BIGSERIAL PRIMARY KEY,
  age_group       TEXT NOT NULL CHECK (age_group IN ('4-6', '7-9', '10-12')),
  category        TEXT NOT NULL, -- e.g. 'manners', 'prayer', 'wudu', 'prophets'
  title_ar        TEXT NOT NULL,
  body_ar         TEXT NOT NULL,
  options_json    JSONB NOT NULL, -- list of {id, text_ar, is_correct, explanation_ar}
  status          TEXT NOT NULL DEFAULT 'draft' CHECK (status IN ('draft', 'reviewed', 'approved')),
  created_at      TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS children_progress (
  user_id         UUID REFERENCES users(id) ON DELETE CASCADE,
  scenario_id     BIGINT REFERENCES children_scenarios(id) ON DELETE CASCADE,
  score           INTEGER NOT NULL DEFAULT 0,
  completed_at    TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  PRIMARY KEY (user_id, scenario_id)
);

CREATE INDEX IF NOT EXISTS idx_children_scenarios_status ON children_scenarios (status, age_group);
